background-color = white
color = #333

body
	background-color background-color
	margin 0
	padding 0
	bottom 0
	color color

	font-family 'Poppins', sans-serif

a
	cursor pointer
	text-decoration none

a['onclick']
	pointer-events none

.logo
	display block
	transform translate(-50%, -70%)
	position absolute
	top 50%
	left 50%
	max-width 12em
	transition filter .5s ease-out,
	filter opacity(80%)

	&:hover
		filter drop-shadow(1px 2px 0 rgba(73, 116, 255, 0.5)) opacity(100%)

.slogan
	text-transform uppercase
	display block
	position absolute
	top 50%
	left 50%
	width 300px
	transform rotate(-12.5grad) skewX(-12.5grad) translate(-38%, 60%)

.menu
	position fixed
	bottom 0
	width 100%
	overflow hidden
	border-top 1px solid #aaa
	background-color whitesmoke

	.mid
		text-align center
		justify-content center
		float center

	a
		color color
		text-decoration none
		padding 15px
		display inline-block
		transition color .2s ease-in-out

		&:hover
			color: #000

	.active-route
		color #000


.contact
	display block
	transform translate(-50%, -50%)
	position absolute
	top 50%
	left 50%
